@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");


.inputStyle {
  height: 51px;
  width: 377px;
  margin: auto;
  margin-bottom: 20px;
  border: solid 3px #535461;
  border-radius: 7px;
  background-color: white;
  color: #535461;
}
