.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.formContainer {
  width: 70%;
  max-width: 450px;
  border-radius: 26px;
  background-color: #c8c8c8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.4rem;
}

input,
.newCustomer-dropdown {
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
}

.submitButton {
  background-color: #9caf88;
  color: white;
  width: 90%;
  max-width: 377px;
  height: 51px;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 400;
}

.errorMsg {
  color: red;
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
}
